@import "init";

body {
	font-size: 100%;
	font-family: $font-family;
}

.keyword {
	&--list {
		margin: 0;
		padding: 0;
		list-style: none;
		a { display: block; }

		figure {
			position: relative;
			margin: 0;
			img {
				display: block;
				width: 100%;
			}
			figcaption {
				position: absolute;
				bottom: 30px;
				left: 15px;
				font-weight: bold;
				font-size: 20px;
				line-height: em(20px);
				span {
					display: block;
					font-size: 11px;
				}
			}
		}
	}
}
