@import "init";

body {
	font-size: 100%;
	font-family: $font-family;
}


/* ==========================================================================
   list page
   ========================================================================== */
.style-list {
	.keyword {
		&--list {
			margin: 0;
			padding: 0;
			list-style: none;
			a { display: block; }

			figure {
				position: relative;
				margin: 0;
				img {
					display: block;
					width: 100%;
				}
				figcaption {
					position: absolute;
					bottom: 30px;
					left: 15px;
					font-weight: bold;					
					line-height: em(22px);
					span { display: block; }
					.keyword--title { font-size: 20px; }
					.keyword--date  { font-size: 11px; }
				}
			}
		}
	}
}


/* ==========================================================================
   view page
   ========================================================================== */
.style-view {
	/* slide content
	   ========================================================================== */
	.slide {
		&--items {
			width: 100%;
			img {
				display: block;
				width: 100%;
			}
		}
	}


	/* owl plugin theme
	   ========================================================================== */

	.owl-controls {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -22.5px;
		.owl-prev,
		.owl-next {
			position: absolute;
			width: 31px;
			height: 55px;
			background-image: url(/images/slide_buttons_m.png);
			background-repeat: no-repeat;
			background-size: 61px auto;
			@include hide-text;
		}

		.owl-prev {
			left: 8px;
			background-position: left top;
		}
		.owl-next {
			right: 8px;
			background-position: right top;
		}

	}


	/* thumbnail content
	   ========================================================================== */

	.keyword {
		&--list {
			margin: 0;
			padding: 0;
			list-style: none;
			background-color: #222;
			@include pie-clearfix;
		}

		&--items {
			float: left;
			width: 33.3%;
			img {
				display: block;
				width: 100%;
			}
		}
	}
}
