@import "init";

body {
	overflow-x: hidden;
	font-size: 100%;
	font-family: $font-family;
}

@function topPaddingRatio($option:0){
	$width: 2000px;
	$ratio: 0.325;

	$height: ($width * $ratio)-$option;
	$paddingTop: percentage($height / $width);	
 	
	@return $paddingTop;
}

/* ==========================================================================
   Layout
   ========================================================================== */
.container {
	padding-top: topPaddingRatio(265px);
	
}

.bg {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	img { width: 100%;}
}


/* ==========================================================================
   Content
   ========================================================================== */
.keyword {
	position: relative;
	z-index: 2;
	margin-bottom: em(160px);
	&--wrap { 
		position: relative;
		z-index: 2;
		width: 300px; 
		margin: 0 auto;
		@include set-bp(bp480)  { width: 450px; } 
		@include set-bp(bp640)  { width: 620px; }
		@include set-bp(bp768)  { width: 748px; }
		@include set-bp(bp870)  { width: 870px; }
		@include set-bp(bp960)  { width: 930px; }
		@include set-bp(bp1024) { width: 1015px; }
		@include set-bp(bp1280) { width: 1280px; }
		@include set-bp(bp1440) { width: 1440px; }
		transition: width .3s ease-in;
	}


	/* title
	   ========================================================================== */

	&--title {
		margin: 0;
		line-height: 1.1em;
		@include set-bp(bp768) {
			@include set-fs(title);	
		}
	}

	&--date {
		display: block;
		margin-top: em(14px);
		padding-left: 4px;
		font-family: 'TrumpGothicEast', sans-serif;
		color: #a1a1a1;
	}


	/* list
	   ========================================================================== */

	&--list {
		margin: 18px 0 0;
		padding: 0;
		list-style: none;
		@include pie-clearfix;
		@include set-bp(bp768) { margin: 60px 0 0; }
	}

	&--items {
		position: relative;
		float: left;
		width: 150px;
		@include transition(width .3s ease-in);
		@include set-bp(bp480)  { width: 150px; }
		@include set-bp(bp640)  { width: 155px; }
		@include set-bp(bp768)  { width: 149px; }
		@include set-bp(bp870)  { width: 145px; }
		@include set-bp(bp960)  { width: 155px; }
		@include set-bp(bp1024) { width: 145px; }
		@include set-bp(bp1280) { width: 160px; }
		img {
			display: block;
			width: 100%;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			z-index: 2;
			border: 0px solid #000;
			@include opacity(0);
		}

		&:before {
			top: 0;
			left: 0;
			border-width: 5px 5px 0 0;
		}

		&:after {
			bottom: 0;
			right: 0;
			border-width: 0 0 5px 5px;
		}

		&:hover {
			cursor: pointer;
			&:before,
			&:after {
				width: 100%;
				height: 100%;
				@include opacity(1);
			}
			&:before { @include transition(width 0.1s ease, height 0.2s 0.1s ease-out); }
			&:after  { @include transition(width 0.1s ease, height 0.2s 0.1s ease-out); }
		}
	}
}



/* ==========================================================================
   Layer
   ========================================================================== */
.slide {
	position: relative;
	width: 635px;
	height: 600px;
	margin: auto;
	@include pie-clearfix;

	@at-root &--image {
		margin-right: 20px;
	}  

	@at-root .sponsor {
		position: absolute;
		top: 0;
		right: -270px;
		width: 250px;
		height: 600px;
		overflow-y: auto;
		&--list {
			margin: 0;
			padding: 0;
			list-style: none;
			@include pie-clearfix;
		}
		&--items {
			float: left;
			width: 115px;
			img {
				display: block;
				max-width: 100%;
			}
		}
	}
}